* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.faq-container {
  background-color: blueviolet;
  padding: 1.5rem;
  color: #fff;
}
.faq-container h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.acc-ul {
  background-color: #fff;
  color: blueviolet;
  width: 600px;
}
.acc-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.acc-item p {
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
.desc {
  padding: 1rem;
}
